:root {
	--text-color: #d3d3d3;
	--border-color: #d3d3d3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #151515;
	color: var(--text-color);
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

ul li.drag__item {
	opacity: 1;
	color: var(--text-color);
	font-size: 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	width: 10rem;
	height: 10rem;
	border: 1px solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul li.drag__item:hover {
	background: #1e1e1e;
}

ul li.list__item {
	color: var(--text-color);
	font-size: 1.5rem;
	width: 10rem;
	text-align: center;
}

.list__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	font-size: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.list__header p {
	font-size: 1.3rem;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-block: 1rem;
}

.dragged {
	opacity: 0;
}

.drag__header {
	margin: 1rem;
}

.drag__header p {
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
	margin-block-end: 0.5rem;
}
